<header class="cabecario">
    <h1>Ester Doces</h1>
    <button class="show-input-button">Mostrar Opções</button> 
    </div>
  </header>
  <div class="input">
    <button class="value">
      Produtos
    </button>
    <button class="value">
      Contato
    </button>
    <button class="value">
        Feedback
    </button>
    <button class="value" id="open-modal">
      Data Comemorativa
    </button>


    <div id="modal" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Escolha uma Data Comemorativa</h2>
          <ul>
            <li id="tirar-filtro">Tirar</li>
            <li>Dia das Mulheres</li>
            <li id="filtrar-pascoa">Páscoa</li>
            <li>Dia das Mães</li>
            <li>Dia dos Namorados</li>
            <li>Dia dos Pais</li>
            <li>Dia das Crianças</li>
          </ul>
          
      </div>
  </div>