<header class="cabecario">
  <h1>Ester Doces</h1>
  <button class="show-input-button">Mostrar Opções</button>
  

</header>
<div class="input">
  <button class="value">Produtos</button>
  <button class="value">Contato</button>
  <button class="value" id="feedback-btn">Feedback</button>
  <button class="value" id="open-modal">Data Comemorativa</button>
</div>

    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Escolha uma Data Comemorativa</h2>
        <ul>
          <li id="tirar-filtro">Tirar Filtro</li>
          <li id="filtrar-dia-das-mulheres">Dia das Mulheres</li>
          <li id="filtrar-pascoa">Páscoa</li>
          <li id="filtrar-dia-das-maes">Dia das Mães</li>
          <li id="filtrar-dia-dos-namorados">Dia dos Namorados</li>
          <li id="filtrar-dia-dos-pais">Dia dos Pais</li>
          <li id="filtrar-dia-das-criancas">Dia das Crianças</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal de Feedback -->
  <div id="feedback-modal" class="modal" style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.6);">
    <div id="feedback-modal-content" style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; max-width: 500px; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
      <span id="close-feedback" style="color: #aaa; float: right; font-size: 28px; font-weight: bold; cursor: pointer;">&times;</span>
      <h2 style="text-align: center; margin-bottom: 15px; font-size: 22px; color: #333;">Deixe seu Feedback</h2>
      <form id="feedback-form" style="display: flex; flex-direction: column;">
        <label for="feedback-text" style="font-size: 16px; margin-bottom: 10px;">O que você achou dos nossos doces e do site?</label>
        <textarea id="feedback-text" name="feedback" rows="4" placeholder="Digite aqui..." style="width: 100%; padding: 12px; border: 1px solid #ccc; border-radius: 5px; resize: vertical; margin-bottom: 15px; font-size: 16px;"></textarea>
        <button type="submit" style="padding: 10px 15px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">Enviar</button>
      </form>
    </div>
  </div>
  