<section class="departamento">
    <h2>Páscoa</h2>
    <div class="produtos">
        <div class="produto">
            <img src="/assents/img/musse-limao.jpeg" alt="Ovo de Páscoa">
            <h3>Ovo de Páscoa</h3>
            <p>Ovo de colher feito com chocolate nobre e recheio de Maracujá.</p>
            <span class="preco">R$ 10,00</span>
            <button class="comprar">Comprar</button>
        </div>
        <div class="produto">
            <img src="/assents/img/coelinho chocolatudo.jpeg" alt="Ovo de Páscoa">
            <h3>Ovo de Páscoa Trufado</h3>
            <p>Chocolate nobre recheado com creme de avelã.</p>
            <span class="preco">R$ 12,00</span>
            <button class="comprar">Comprar</button>
        </div>
    </div>
</section>

<section class="departamento">
    <h2>Mousses</h2>
    <div class="produtos">
        <div class="produto">
            <img src="/assents/img/WhatsApp Image 2025-03-12 at 17.33.19.jpeg" alt="Mousse de Maracujá">
            <h3>Mousse de Maracujá</h3>
            <p>Um delicioso mousse de Maracujá com chocolate nobre por cima.</p>
            <span class="preco">R$ 8,00</span>
            <button class="comprar">Comprar</button>
        </div>

        <div class="produto">
            <img src="/assents/img/shutterstock-1949230144-1-1-.jpg" alt="Mousse de Limão">
            <h3>Mousse de Limão</h3>
            <p>Mousse de limão com raspas das frutas por cima.</p>
            <span class="preco">R$ 8,00</span>
            <button class="comprar">Comprar</button>
        </div>
    </div>
</section>

<section class="departamento">
    <h2>Bombons</h2>
    <div class="produtos">
        <div class="produto">
            <img src="/assents/img/bombom.jpg" alt="Bombom Trufado">
            <h3>Bombom Trufado</h3>
            <p>Chocolate recheado com ganache especial.</p>
            <span class="preco">R$ 3,00</span>
            <button class="comprar">Comprar</button>
        </div>
    </div>
</section>

<section class="departamento">
    <h2>Cones</h2>
    <div class="produtos">
        <div class="produto">
            <img src="/assents/img/brigadeiro.jpeg" alt="Cone de Chocolate">
            <h3>Cone de Chocolate</h3>
            <p>Cone crocante recheado com brigadeiro gourmet.</p>
            <span class="preco">R$ 6,00</span>
            <button class="comprar" id="">Comprar</button>
        </div>
    </div>
</section>
